* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    opacity: 0.9;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.9;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    height: 69px;
    align-items: center;
    background-color: black;
    z-index: 1;
}

header img {
    height: 50px;
    padding-left: 10px;
}

nav ul li {
    display: inline;
    text-decoration: underline;
    padding: 0 10px;
}

main {
    position: relative;
    top: 70px;
    height: 700px;
    width: 1200px;
    background-image: url("../img/img-mission-background.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 70px;
}

#banner div {
    background-color: black;
    width: 100%;
}

#tea-of-the-month {
    margin: 0 auto;
    width: 1000px;
    padding: 50px 0;
}

#tea-of-the-month section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

#tea-of-the-month figure{
    flex-basis: calc(100% / 3);
    margin: 10px 0;
}

#tea-of-the-month img {
    height: 200px;
    width: 300px;
}

#tea-of-the-month figcaption {
    padding: 10px;
    font-weight: bolder;
}

#locations {
    height: 500px;
    width: 1200px;
    background-image: url("../img/img-locations-background.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#locations h2 {
    line-height: 1;
    margin-bottom: 15px;
}

#locations section {
    display: flex;
}

#locations .location-text {
    background-color: black;
    opacity: 1;
    width: 300px;
    margin: 0 20px;
}

#locations .location-text p, #locations .location-text h3 {
    line-height: 3;
}